.Header{
    border: 2px solid black;
    width: 90%;
    height: 80px;
   margin: 2% auto;
   background-color: cyan;
}
.img-1,.img-2{
    width: 100px;
    height: 60px;
 background-color: cyan; 
    margin-top: 10px;
}
.insta{
    float: left;
}
.camera{
    float: right;
}